:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --secondary-button-color: #e7e9fc;
}

/* body */
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
span {
  color: var(--secondary-text-color);
}

/* Site-nav */

.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-text-color);
}
.site-nav .link:active {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */
.contacts {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* HERO */
.hero-title {
  color: var(--background-color);
  background-color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

/* Order Service button*/
.order-button {
  color: var(--background-color);
  background-color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}
.order-button:active {
  color: var(--background-color);
  background-color: #404bbf;
}

/* Sections - Samples, Team + Portfolio */

.section-title {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  text-transform: capitalize;
}
.subsection-title {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.team,
.services {
  background-color: var(--secondary-background-color);
}
/* Portfolio buttons */

.secondary-button {
  color: var(--accent-color);
  background-color: var(--secondary-button-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.secondary-button:focus,
.secondary-button:hover {
  color: var(--accent-color);
  background-color: var(--background-color);
}
.secondary-button:active {
  color: var(--background-color);
  background-color: var(--accent-color);
}

/* Footer */
footer {
  color: var(--secondary-button-color);
  background-color: var(--secondary-text-color);
  font-family: inherit;
}
.logo-footer {
  color: var(--secondary-background-color);
}
